
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.DS_Store
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/restful-booker-platform-tests.iml
/.idea/vcs.xml
.idea/aws.xml
